@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row wrap;
  height: 100px;
  justify-content: center;
  background: white;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 20%;
  margin-left: 10%;
  /*border: 1px solid red;*/
  text-align: left;
}

.logo h1 {
  font-family: "Lobster", cursive;
  color: #180f4a;
  font-size: 34px;
}

.menu {
  flex: 70%;
  /*border: 1px solid blue;*/
  text-align: right;
  padding: 20px;
}

.menu a {
  color: #180f4a;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
}

.menu a:hover {
  color: #ff2978;
  border-top: 4px solid #180f4a;
}

#botao {
  background: #180f4a;
  padding: 10px 25px;
  color: aliceblue;
  border-radius: 5px;
  margin-right: 10%;
  margin-left: 5%;
}

#botao:hover {
  border: none;
  background: #ff2978;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*background: grey;*/
  padding-top: 100px;
}

.headline {
  flex: 40%;
  margin-left: 10%;
  /*border: 1px solid black;*/
}

.headline h2 {
  font-weight: 900;
  font-size: 20px;
  color: #180f4a;
  padding: 0;
  margin: 0;
}

.headline p {
  color: grey;
  text-align: left;
}

.img-headline {
  margin-right: 10%;
  flex: 40%;
  /*border: 1px solid black;*/
  text-align: center;
}

section {
  display: inline-block;
  margin-top: 80px;
  /*border: 1px solid black;*/
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  text-align: center;
}

section h2 {
  width: 100%;
  font-size: 50px;
  margin: 0;
  font-family: "Lobster", cursive;
  font-weight: bold;
  color: #180f4a;
}

.servicos {
  display: flex;
  flex-wrap: wrap; /* permite que os cards que não couberem na linha quebrem para a próxima */
  justify-content: space-around; /* ou use center, space-between, conforme necessário */
  margin-top: 5%;
}

.card {
  display: inline-block;
  width: 30%;
  height: 350px;
  padding: 20px;
  margin: 1%;
  border: 1px solid #ff2978;
  border-radius: 10px;
  cursor: pointer;
}

.texto-oculto {
  display: none;
}

.card:hover {
  background: #ff2978;
  color: white;
  padding: 40px;
  font-weight: bold;
}

.card:hover img {
  display: none;
}

.card:hover .card-text {
  display: none;
}

.card:hover .texto-oculto {
  display: block;
}

footer {
  margin-top: 100px;
  height: 400px;
  background-image: linear-gradient(180deg, #180f4a, #090422, #000000);
  text-align: center;
  border-top: 5px solid #ff2978;
}

.logo-rodape {
  padding: 100px;
}

.agencia {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 34px;
}

.whatsapp {
  width: 70px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.whatsapp:hover {
  width: 100px;
  transition: 0.5s;
}

#desenvolvido {
  color: white;
  font-size: 23px;
  padding-top: 10%;
}
